---
import { getCollection } from "astro:content";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import MobileNav from "../components/MobileNav.astro";
import {urlFor} from "../data/_helpers";

interface Props {
  metaTitle: string;
  metaDescription?: string;
  metaImage?: string;
  metaUrl?: string;
}

const siteSettingsData = await getCollection("siteSettings");
const siteSettings = siteSettingsData[0].data;

const {
  metaTitle,
  metaDescription = siteSettings?.metaDescription,
  metaImage = siteSettings?.metaImage,
  metaUrl = siteSettings?.metaUrl,
}: Props = Astro.props;
---

<html lang="nb-NO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${metaTitle} | ${siteSettings.metaTitle}`}</title>
    <meta
      property="og:title"
      content={`${metaTitle} | ${siteSettings.metaTitle}`}
    />
    <meta
      property="og:site_name"
      content={`${metaTitle} | ${siteSettings.metaTitle}`}
    />
    <meta name="description" content={metaDescription} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:url" content={metaUrl} />
    <meta property="og:image" content={urlFor(metaImage).width(1200).url()} />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="google-site-verification" content="z_9-Fqakh0Uc1NEgzg8qLwD7G0NquRKC3Va3FWhzWNk" />
  </head>
  <!-- Google tag (gtag.js) -->
  <script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-DZ49QF3929" />
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DZ49QF3929');
  </script>
  <body>
    <div class="l-site">
      <div class="l-site__header">
        <SiteHeader nav={siteSettings?.mainNav} />
      </div>
      <MobileNav nav={siteSettings?.mainNav} />
      <div class="l-site__main">
        <slot />
      </div>
      <div class="l-site__footer">
        <SiteFooter groups={siteSettings.footer} socialMedia={siteSettings.socialMedia} />
      </div>
    </div>
  </body>
</html>
