---
import {getCollection} from "astro:content";
import SiteHeader from "../components/SiteHeader.astro";

interface Props {
  metaTitle: string;
  metaDescription?: string;
  metaImageUrl?: string;
  metaUrl?: string;
}

const siteSettingsData = await getCollection('siteSettings');
const siteSettings = siteSettingsData[0].data;

const {
  metaTitle,
  metaDescription = siteSettings?.metaDescription,
  metaImageUrl = siteSettings?.metaImageUrl,
  metaUrl = siteSettings?.metaUrl,
} = Astro.props;
---

<html lang="nb-NO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${siteSettings.metaTitle} | ${metaTitle}`}</title>
    <meta property="og:title" content={`${siteSettings.metaTitle} | ${metaTitle}`} />
    <meta property="og:site_name" content={`${siteSettings.metaTitle} | ${metaTitle}`} />
    <meta name="description" content={metaDescription} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:url" content={metaUrl} />
    <meta property="og:image" content={metaImageUrl} />
    <link rel="icon" type="image/svg+xml" href={metaImageUrl} />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <SiteHeader />
    <slot />
  </body>
</html>