---
import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const subPages = await getCollection("subPages");

  return subPages.map((result: any) => ({
      params: {
        subPage: result.data.fullSlug,
      },
      props: {
        data: result.data,
      }
  }));
}

const { data } = Astro.props;
---

<Layout metaTitle={data.title}>
  <div class="l-subpage">
    <div class="l-subpage__breadcrumbs">
      <div class="u-max-content-width">
        <Breadcrumbs current={data.title} parent={data.parent} />
      </div>
    </div>
    <div class="u-max-content-width">
      <h1 class="l-subpage__title">{data.title}</h1>
      {data.leading && <div class="l-subpage__leading">{data.leading}</div>}
    </div>
  </div>
</Layout>
