---
import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import { getCollection } from "astro:content";
import RichText from "../components/portableText/RichText.astro";
import { urlFor } from "../data/_helpers";
import GalleryBlock from "../components/GalleryBlock.astro";

export async function getStaticPaths() {
  const subPages = await getCollection("subPages");

  return subPages.map((result: any) => ({
    params: {
      subPage: result.data.fullSlug,
    },
    props: {
      data: result.data,
    },
  }));
}

const { data } = Astro.props;
---

<Layout metaTitle={data.title}>
  <div class="l-subpage">
    {
      data.bannerImageUrl && (
        <div class="l-subpage__banner-image">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset={urlFor(data.bannerImage).width(600).url()}
            />
            <source
              media="(max-width: 1000px)"
              srcset={urlFor(data.bannerImage).width(1000).url()}
            />
            <source
              media="(max-width: 1600px)"
              srcset={urlFor(data.bannerImage).width(1600).url()}
            />
            <img
              src={urlFor(data.bannerImage).width(2000).url()}
              alt=""
              loading="lazy"
            />
          </picture>
          {data.bannerImageCreditation && (
            <div class="l-subpage__banner-creditation">
              {data.bannerImageCreditation}
            </div>
          )}
        </div>
      )
    }
    <div class="u-max-content-width">
      <div class="l-subpage__breadcrumbs">
        <Breadcrumbs current={data.title} parent={data.parent} />
      </div>
    </div>
    <div class="u-max-content-width">
      <div class="l-subpage__content">
        <h1 class="l-subpage__title">{data.title}</h1>
        {data.leading && <div class="l-subpage__leading">{data.leading}</div>}
        {
          data.body !== null && (
            <div class="l-subpage__body | u-rich-text">
              <RichText content={data.body} />
            </div>
          )
        }
      </div>
    </div>
  </div>
</Layout>
