---
import Layout from "../layouts/Layout.astro";
import MoreLink from "../components/MoreLink.astro";
import Hero from "../components/Hero.astro";
import Teaser from "../components/Teaser.astro";
import Card from "../components/Card.astro";
import { TideAndTempBlock } from "../components/TideAndTempBlock";
import { getCollection } from "astro:content";
import { formatDate, urlFor } from "../data/_helpers";
import { getNewsArchiveData } from "../data/newsArchive";
import { getFrontPageData } from "../data/frontPage";
import MapBlock from "../components/MapBlock.astro";

const frontPage = await getFrontPageData();
const newsArchive = await getNewsArchiveData();
const newsArchiveSlug = newsArchive.fullSlug;
const newsArticles = await getCollection("newsArticles");
let articles: any[] = [];
newsArticles.map((article: any, index: number) => {
  if (index < 4) {
    articles.push(article.data);
  } else {
    return;
  }
});

articles.sort(
  (a: any, b: any) =>
    new Date(b.publishedDate).getTime() - new Date(a.publishedDate).getTime(),
);
---

<Layout metaTitle="Forside">
  <div class="l-frontpage">
    <h1 class="u-visually-hidden">{frontPage.title}</h1>
    <section class="l-frontpage__banner">
      <Hero
        title={frontPage.banner.title}
        subtitle={frontPage.banner.subtitle}
        image={frontPage.banner.image}
      >
        {frontPage.banner.intro}
      </Hero>
    </section>
    <div class="u-max-content-width">
      <section class="l-frontpage__blocks">
        {
          frontPage.blocks.map((block: any, index: number) => (
            <Teaser
              image={block.image}
              title={block.title}
              text={block.content}
              link={{
                text: block.linkText,
                href: block.link.href,
              }}
              imagePlacement={block.imagePlacement}
            />
          ))
        }
      </section>
    </div>
    <div class="u-max-content-width">
      <section class="l-frontpage__cards">
        <h2 class="l-frontpage__cards-title">
          {
            frontPage.newsSection.title
              ? frontPage.newsSection.title
              : "Nyheter"
          }
        </h2>
        <div class="l-frontpage__cards-list">
          {
            articles.map(
              (article: any, index: number) =>
                index < frontPage.newsSection.count && (
                  <Card
                    title={article.title}
                    text={article.leading}
                    imageUrl={article.featuredImage}
                    date={formatDate(article.publishedDate)}
                    href={article.fullSlug}
                  />
                ),
            )
          }
        </div>
        <div class="l-frontpage__cards-more-link">
          <MoreLink href={newsArchiveSlug}
            >{
              frontPage.newsSection.moreText
                ? frontPage.newsSection.moreText
                : "Se flere nyheter"
            }</MoreLink
          >
        </div>
      </section>
    </div>
    {
      frontPage.weatherSection?.showWeather && (
        <div class="u-max-content-width">
          <div class="l-frontpage__weather">
            <TideAndTempBlock
              title={frontPage.weatherSection?.title}
              client:load
            />
          </div>
        </div>
      )
    }
    {(frontPage.mapSection?.title || frontPage.mapSection?.text) && (
    <div class="u-max-content-width">
      <div class="l-frontpage__map">
        <MapBlock title={frontPage.mapSection?.title} text={frontPage.mapSection?.text} />
      </div>
    </div>
    )}
    {
      (frontPage.sponsorSection?.title ||
        frontPage.sponsorSection?.intro ||
        frontPage.sponsorSection?.images.length > 0) && (
        <div class="u-max-content-width">
          <div class="l-frontpage__sponsors">
            <div class="logo-cloud">
              <h2 class="logo-cloud__title">
                {frontPage.sponsorSection.title}
              </h2>
              <p class="logo-cloud__intro">{frontPage.sponsorSection.intro}</p>
              <div class="logo-cloud__grid">
                {frontPage.sponsorSection.images?.map((image: any) => (
                  <div class="logo-cloud__image">
                    <a
                      href={image.href}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <img src={urlFor(image.imageFile).url()} alt="" />
                    </a>
                  </div>
                ))}
              </div>
            </div>
          </div>
        </div>
      )
    }
  </div>
</Layout>
