---
interface Props {
  title: string;
  imageUrl: string;
  text?: string;
  date: string;
  href: string;
}

const { title, imageUrl, text, date, href } = Astro.props;
---

<div class="card">
  <div class="card__inner">
    <div class="card__image">
      <img src={imageUrl} alt="" />
    </div>
    <div class="card__content">
      <h3 class="card__title">
        <a href={href}>{title}</a>
      </h3>
      {text && <p class="card__text">{text}</p>}
      <time datetime={date} class="card__date">{date}</time>
    </div>
  </div>
</div>
