---
import {urlFor} from "../data/_helpers";
interface Props {
  image: {};
  title: string;
  subtitle?: string;
}

const { image, title, subtitle } = Astro.props;
---

<div class="hero">
  <div class="hero__image">
    <picture>
      <source media="(max-width: 640px)" srcset={urlFor(image).width(640).url()} />
      <source media="(max-width: 1024px)" srcset={urlFor(image).width(1024).url()} />
      <img
          src={urlFor(image).width(1900).url()}
          alt=""
          loading="lazy"
      />
    </picture>
  </div>
    <div class="hero__content">
      <hgroup>
        <p class="hero__subtitle">{subtitle}</p>
        <h2 class="hero__title">{title}</h2>
      </hgroup>
      <p class="hero__intro">
        <slot />
      </p>
    </div>
</div>
